/* static/main.css */

body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightblue;
}

.header {
  background-color: black;
  color: red;
  margin: 0.5em 0;
  padding: 1em;
}

.nav {
  background-color: lightgrey;
  margin: 0.5em 0;
  padding: 0.5em;
}

.content {
  background-color: white;
  margin: 0.5em 0;
  padding: 1em;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
}

h1, h2 {
  margin: 0;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:first-of-type) {
  margin-left: -0.25em;
}

nav li:not(:last-of-type) {
  border-right: 1px solid black;
}

.page-nav {
  text-align: center;
}

.line, .dataset {
  border: 1px solid #b1b1b1; 
  border-radius: 8px; 
  margin: 1em;
  padding: 0.2em 0.5em;
}


.info {
  border: 1px solid #b1b1b1; 
  border-radius: 8px;
  margin: 1em;
  padding: 0.5em;
  background-color: #f8f7f7;
  color: black;
}

.stats-box {
  border: 1px solid #b1b1b1;  
  border-radius: 8px;
  margin: 1em;
  padding: 0.5em;
  background-color: #e9e7e7;
  color: black;
}

.preview-box {
  background-color: #e9e7e7;
  padding: 1em;
  border: 1px solid #b1b1b1; 
  border-radius: 8px;
  font-family: monospace;
  white-space: pre-wrap;
  max-height: 400px;
  overflow-y: auto;
}

.tag {
  background-color: #e9e7e7;
  padding: 0.2em 0.5em;
  margin: 0.2em;
  display: inline-block;
  border-radius: 3px;
  color: black;
  border: 1px solid #b1b1b1;
}

.tag button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.3em;
}

.comments-section {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1.5em;
  background-color: white;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
}

.comment {
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  margin: 1em 0;
  padding: 0.8em;
  background-color: #f9f9f9;
}

.comment p {
  margin: 0.5em 0 0 0;
}

.flash-success {
  border: 2px solid #4CAF50;
  border-radius: 8px;
  margin: 1em;
  padding: 0.8em;
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}

.flash-error {
  border: 2px solid #f5c6cb;
  border-radius: 8px;
  margin: 1em;
  padding: 0.8em;
  background-color: #f8d7da;
  color: #721c24;
  font-weight: bold;
}